.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #1f1f1f;
  color: white;
  max-height: 65px;
  filter: drop-shadow(0 0 10px rgb(0, 0, 0, 0.75));
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand a {
  color: white;
  text-decoration: none;
  font-size: clamp(1.2rem, 4vw, 1.75rem);
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
  letter-spacing: 1px;
}

.navbar-logo {
  width: clamp(28px, 6vw, 35px);
  height: clamp(28px, 6vw, 35px);
  display: inline-block;
  filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.5));
}

.navbar-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  font-size: clamp(1rem, 2.5vw, 1.25rem);
}

.navbar-links li a:hover {
  background: rgba(255,255,255,0.25);
  transition: background-color 0.2s ease;
}

@media (min-width: 500px) {
  .navbar {
    padding: 10px 20px;
  }

  .navbar-logo {
    width: clamp(35px, 4vw, 45px);
    height: clamp(35px, 4vw, 45px);
  }

  .navbar-brand a {
    font-size: clamp(1.75rem, 3vw, 2.2rem);
  }

  .navbar-links {
    gap: 20px;
  }
}
