.home-container {
  width: 100%;
  padding: 15px;
}

.session-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

@media (min-width: 500px) {
  .home-container {
    max-width: 1100px;
    margin: 0 auto;
  }

  .session-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

@media (min-width: 1200px) {
  .session-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
