.App {
  min-height: 100vh;
  background: linear-gradient(180deg, #206020 0%, #0a2a0a 100%);
  background-attachment: fixed;
  color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Jersey 10', sans-serif;
}

html, body {
  overscroll-behavior: none;
}

h1 {
  font-size: 32px;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 5px rgb(0, 0, 0, 0.75));
}

p {
  color: white;
}

.container {
  width: 100%;
  padding: 0px;
  margin: 0 auto;
}

@media (min-width: 500px) {
  h1 {
    font-size: 40px;
  }

  .container {
    padding: 20px;
  }
}

.sr-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
